body {
    font-family: Arial, sans-serif;
    background-color: #a5a5a5;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #ffd900;
    padding: 10px 0;
    margin: 0;
}

h2 {
    color: #ffd900;
    margin-top: 20px;
}

p {
    color: #333;
    line-height: 1.2;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

.Empresas {
    color: #ffd900;
    
}

a {
    background-color: #919191;
    color: rgb(0, 68, 255);
    padding: 10px 20px;
    border-radius: 5px
}

header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

section {
    border: 10px solid #ff0000;
    padding: 20px;
}

.sobre-mim {
    border: #09ff00 10px solid;
    padding: 20px;
    margin-bottom: 20px;
}

.objetivos {
    border: #8c00ff 10px solid;
    padding: 20px;
    margin-bottom: 20px;
}

.formacao {
    border: #ff00aa 10px solid;
    padding: 20px;
    margin-bottom: 20px;
}

.experiencia {
    border: #1900ff 10px solid;
    padding: 20px;
}